/target
/.classpath
/.project
/.settings

/tx-core/target
/tx-core/.settings

/tx-components/target
/tx-components/.classpath
/tx-components/.project
/tx-components/.settings

/tx-components/tx-component-config/target
/tx-components/tx-component-config/.settings
/tx-components/tx-component-config/.svn

/tx-components/tx-component-auth/target
/tx-components/tx-component-auth/.settings

/tx-components/tx-component-basedata/target
/tx-components/tx-component-basedata/.settings

/tx-components/tx-component-servicelog/target
/tx-components/tx-component-servicelog/.settings

/tx-components/tx-component-rule/target
/tx-components/tx-component-rule/.settings

/tx-components/tx-component-workflow/.settings
